.login-dialog {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-modal-title {
  font-size: 24px;
  margin: 0;
}

.overlay-titleCloser {
  color: #888;
  text-decoration: none;
  transition: font-size 0.2s;
}

.overlay-titleCloser:hover {
  color: #fff;
  cursor: pointer;
  font-size: larger;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.label-email,
.label-password {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.text {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

button#loginFormBtn {
  background-color: #800020;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button#loginFormBtn:hover {
  background-color: #600018;
}

@media (max-width: 480px) {
  .login-dialog {
    max-width: 100%;
    padding: 15px;
  }
}

.cancel-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cancel-box:hover {
  background-color: crimson;
}
