.magazine-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.magazine-card {
  /* background-color: var(--tileBackgroundColor, #fcf0e4); */
  border: 1px rgb(44, 44, 44);
  /* border-radius: var(--tileCornerRadius, 4px); */
  /* box-shadow: 1px 1px 2px 0px; */
  box-sizing: border-box;
  max-height: 310px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 260px;
  width: 260px;
  padding: 5px;
}

.magazine-card:hover {
  /* box-shadow: rgba(8, 8, 32, 0.8) 0px 0px 6px 2px; */
    transition: box-shadow 0.1s ease 0s;
    cursor:pointer;
}

.thumbnail-img {
  border: 1px solid black;
  max-width: 182px;
  max-height: 259px;
  height: 254px;
}

.magazine-title {
  text-align:center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.magazine-thumbnail {
  text-align: center;
}

.table-of-contents-box {
  display: flex;
}

.magazine-img {
  width: 500px;
  transition: all .3s cubic-bezier(.165,.84,.44,1);
}

::ng-deep .mat-typography h6 {
  font-size: larger;
}

.magazine-thumbnail {
  transform: scale(.95);
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
}
/*
.magazine-thumbnail:hover {
  transform: scale(1);
} */

.magazine-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0; /* Start with zero opacity */
  transition: opacity 0.5s ease-in-out; /* Add a transition for opacity */
  box-shadow: 0 0.3125em 0.625em rgba(0,0,0,.25);
}

.magazine-thumbnail img.loaded {
  opacity: 1; /* When the 'loaded' class is added, set opacity to 1 */
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.magazine-container {
  text-decoration: none;
  color: #333;
  width: 100%;
  max-width: 240px;
  transition: transform 0.2s ease-in-out;
}

.magazine-container:hover {
  transform: translateY(-5px);
}

.magazine-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.magazine-thumbnail img {
  /* max-width: 100%; */
  height: auto;
}

.magazine-title h6 {
  font-size: 16px;
  margin-top: 10px;
}

