<h2>Magazines</h2>

<div class="main">
  <ng-container *ngFor="let magazine of magazines">
    <div class="magazine-container">
      <!-- (click)="magazine && navigateToMagazineHtml(magazine)" -->
      <div class="magazine-card">
        <div class="magazine-thumbnail">
          <img class="thumbnail-img" src="{{ magazine.thumbnailUrl }}" alt="" loading="lazy">
        </div>
        <div class="magazine-title">
          <h6>{{ magazine.name }}</h6>
        </div>
      </div>
    </div>
  </ng-container>
</div>
