/* .magazine-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 400px;
}

.magazine-card {
  border: 1px rgb(44, 44, 44);
  border-radius: var(--tileCornerRadius, 4px);
  box-shadow: 1px 1px 2px 0px;
  box-sizing: border-box;
  max-height: 310px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 260px;
  width: 260px;
  padding: 5px;
}

.magazine-card:hover {
  box-shadow: rgba(8, 8, 32, 0.8) 0px 0px 6px 2px;
    transition: box-shadow 0.1s ease 0s;
    cursor:pointer;
}

.thumbnail-img {
  border: 1px solid black;
  max-width: 182px;
}

.magazine-title {
  display: none;
  text-align:center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.magazine-thumbnail {
  text-align: center;
}

.table-of-contents-box {
  display: flex;
}

.magazine-image {
  width: 400px;
}

.image-box {
  width: 100%;
}

.image-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-box img.loaded {
  opacity: 1;
}
 */

 .main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.magazine-container {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 600px;
  cursor: pointer;
}

.image-box {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.magazine-image {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.magazine-details {
  flex: 2;
  padding: 20px;
}

.magazine-title h6 {
  font-size: 20px;
  margin: 0;
}

.magazine-info {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.magazine-info li {
  font-size: 14px;
  margin-bottom: 8px;
}

.magazine-info strong {
  font-weight: bold;
}

.magazine-container:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

