<h2>Magazine Details</h2>

<div class="main">
    <div class="magazine-container" [routerLink]="['/publications', publicationId, 'magazines', magazine.id, 'stories']">
        <div class="image-box">
          <img class="magazine-image" src="{{ magazine.imageUrl }}" alt="" loading="lazy">
        </div>
        <div class="magazine-title">
          <h6>{{ magazine.name }}</h6>
        </div>
    </div>
    <div>
      <ol>
        <li>Name: {{ magazine.name }}</li>
        <li>Released: {{ magazine.releasedAt | json}}</li>
        <li>Price: ${{ magazine.price }}</li>
        <li>Vol. {{ magazine.volume }}</li>
        <li>No. {{ magazine.issue }}</li>
      </ol>
    </div>
</div>
