.banner-box {
  max-width: 100%;
  max-height: auto;
  overflow: hidden;
  margin: 25px;
  margin-top: 0px;
}

.banner-img {
  width: 100%;
  height: auto;
}

.main-box {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.collection-title {
  text-transform: capitalize;
}

.collections-box {
  max-width: 100%;
  max-height: auto;
  overflow: hidden;
  margin: 25px;
}
