.magazine-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.magazine-card {
  background-color: var(--tileBackgroundColor, #ffffff);
  border: 1px rgb(44, 44, 44);
  border-radius: var(--tileCornerRadius, 4px);
  box-shadow: 1px 1px 2px 0px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 5px;
}

.magazine-card:hover {
  box-shadow: rgba(8, 8, 32, 0.8) 0px 0px 6px 2px;
    transition: box-shadow 0.1s ease 0s;
    cursor:pointer;
}

.magazine-column {

}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.magazine-thumbnail {
  text-align: center;
}
