<!-- <h1>The Pulps!</h1> -->
<h2>Publications</h2>
<div *ngFor="let publication of publications">
  <div>
    <h1>{{ publication.name }}</h1>
  </div>
</div>

<div class="main">
  <ng-container *ngFor="let magazine of magazines">
    <div class="magazine-container" (click)="magazine && navigateToMagazineHtml(magazine)">
      <div class="magazine-thumbnail">
        <img src="{{ magazine.thumbnailUrl }}" alt="" loading="lazy">
      </div>
      <div class="magazine-title">
        <h6>{{ magazine.name }}</h6>
      </div>
    </div>
  </ng-container>
</div>
