<div class="container">
  <div class="header">
    <h1>Welcome to The Pulps</h1>
    <p>Your Source for Pulp Magazines</p>
  </div>

  <div class="categories">
    <div class="category-item" [routerLink]="['/publications']">
      <p>Publications</p>
    </div>
    <div class="category-item" [routerLink]="['/magazines']">
      <p>Magazines</p>
    </div>
    <div class="category-item" [routerLink]="['/stories']">
      <p>Stories</p>
    </div>
    <div class="category-item" [routerLink]="['/stories']">
      <p>Authors</p>
    </div>
    <div class="category-item" [routerLink]="['/artists']">
      <p>Artists</p>
    </div>
  </div>
</div>
