.magazine-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.magazine-column {

}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.magazine-thumbnail {
  text-align: center;
}
