.container {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.header {
  margin-bottom: 30px;
}

.header h1 {
  font-size: 36px;
  margin: 0;
}

.header p {
  color: #888;
  font-size: 18px;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.category-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

.category-item p {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin: 0;
}

.category-item:hover {
  background-color: #f8f8f8;
  transform: translateY(-5px);
}
