<div>
  <ng-container *ngIf="dataLoaded; else loadingTemplate">
    <mat-accordion *ngIf="collections.length > 0">
      <ng-container *ngFor="let collection of collections">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{ collection.name }}
          </mat-expansion-panel-header>
          <ul>
            <li *ngFor="let story of collection.stories" (click)="navigateToStoryAnchor(story)">
              {{ story.title }}
            </li>
          </ul>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
    <p *ngIf="collections.length < 0 && dataLoaded">No collections available.</p>
  </ng-container>
</div>

<ng-template #loadingTemplate>Loading...</ng-template>

