<div class="register-dialog">
  <div class="title-box">
    <h1 class="register-dialog-title">Register</h1>
    <div class="cancel-box">
      <a class="overlay-titleCloser js-overlayClose" role="button" (click)="dismissDialog()">X</a>
    </div>
  </div>
  <form class="register-form">
    <div class="form-group">
      <label class="label-email" for="email">
        <span class="required">Email</span>
        <input type="email" class="text" name="email" [(ngModel)]="newUser.email" placeholder="Email" tabindex="1" required />
      </label>
    </div>
    <div class="form-group">
      <label class="label-email">
        <span class="required">Username</span>
        <input type="text" class="text" name="username" [(ngModel)]="newUser.username" placeholder="Username" tabindex="1" required />
      </label>
    </div>
    <div class="form-group">
      <label class="label-password">
        <span class="required">Password</span>
        <input type="password" id="password" class="text" name="password" [(ngModel)]="newUser.password" placeholder="Password" tabindex="2" required />
      </label>
    </div>
    <div class="form-group">
      <label class="label-password">
        <span class="required">Confirm Password</span>
        <input type="password" id="confirmPassword" class="text" name="confirmPassword" [(ngModel)]="newUser.confirmPassword" placeholder="Confirm Password" tabindex="3" required />
      </label>
    </div>
    <button id="registerFormBtn" type="button" (click)="register(newUser)">Register</button>
  </form>
</div>
