html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  padding: 25px;
  /* min-height: calc(120vh - 60px); */
  box-sizing: border-box;
}

.body {
  /* margin-top: 50px; */
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}
