/* Add CSS styles to customize the appearance of the slider */
.slider-container {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  width: 200px; /* Set the width of each slide */
  margin-right: 20px; /* Set spacing between slides */
}

img {
  height: 90%;
  width: 100px;
  transition: transform 0.3s ease-in-out;
}

/* img:hover {
  scale: (1.25);
} */

/* Add styles to make the slider responsive as needed */
