
<!-- <div class="main">
    <div class="publication-container">
      <div class="card-container">
        <div class="publication-card">
          <div class="publication-thumbnail">
            <img class="thumbnail-img" src="{{ publication.thumbnailUrl }}" alt="thumbnail.jpg">
          </div>
          <hr>
          <div class="publication-title">
            <a [routerLink]="['/publications', publication.id, 'magazines']"><h4>{{ publication.name }}</h4></a>
          </div>
          <hr>
        </div>
      </div>
      <div class="description-box">
        <p class="publication-description">{{ publication.description }}</p>
      </div>
    </div>
</div> -->

<div class="publication-card">
  <!-- Use the MagazineStackComponent to render magazine thumbnails -->
  <app-image-slider [magazines]="publication.magazines"></app-image-slider>
</div>

<div class="main">
  <div class="publication-container">
    <div class="card-container">
      <!-- <div class="publication-card">
        <app-image-slider [magazines]="publication.magazines"></app-image-slider>
      </div> -->
    </div>
    <div class="description-box">
      <p class="publication-description">{{ publication.description }}</p>
    </div>
  </div>
</div>

