.publication-container {
  display: flex;
  flex-direction: column;
}

.publication-card {
  /* background-color: var(--tileBackgroundColor, #fcf0e4); */
  /* border: 1px rgb(44, 44, 44);
  border-radius: var(--tileCornerRadius, 4px);
  box-shadow: 1px 1px 2px 0px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 260px;
  width: 260px;
}

.publication-card:hover {
  /* box-shadow: rgba(8, 8, 32, 0.8) 0px 0px 6px 2px;
    transition: box-shadow 0.1s ease 0s; */
    cursor:pointer;
}

.thumbnail-img {
  border: 1px solid black;
  max-width: 182px;
  margin-bottom: 20px;
}

.publication-title {
  text-align:center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.publication-thumbnail {
  text-align: center;
}

.description-box {
  padding-left: 60px;
  padding-right: 60px;
  text-align: justify;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.publication-title a {
  text-decoration: none;
  color: #9e0000;
}

::ng-deep .mat-typography h4 {
  font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.publication-description {
  font-size: 20px;
  font-family: "AlegreyaRegular", Georgia, serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 0.51em;
  text-align: justify;
  margin-bottom: 0.49em;
  text-indent: 1em;
  line-height: 1.5;
}
